.body {
  background-color: grey;
  background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGlicmFyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}

.anchor1 {
  background-color: white;
  border: 2px solid #42f4ce;
  border-radius: 5px;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.anchor1:hover {
  background-color: #42f4ce;
  color: red;
}

.anchor2 {
  background-color: white;
  border: 2px solid #b0f0f2;
  border: radius 5px;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.anchor2:hover {
  background-color: #42f4ce;
  color: red;
}

.anchor3 {
  background-color: white;
  border: 2px solid #ead2f2;
  border-radius: 5px;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.anchor3:hover {
  background-color: #42f4ce;
  color: red;
}
