<div class="html">
  <h4 align="justify" style="color: white">
    <br />

    <input
      class="button5"
      type="button"
      value="Back"
      onCLick="history.back()"
    />
  </h4>
  <div align="center">
    <h1>User Registration</h1>
    <h4>Register Yourself Here To Explore Library Application</h4>
    <div class="container">
      <form (ngSubmit)="onSubmit()" #UserRegistration="ngForm">
        <div class="form-group">
          <label><b>User ID: </b></label>
          <input
            type="text"
            [(ngModel)]="user.userid"
            class="form-control"
            required
            minlength="4"
            id="userid"
            name="userid"
            placeholder="User ID"
            required
            #userid="ngModel"
          />
          <div
            *ngIf="userid.invalid && (userid.dirty || userid.touched)"
            class="alert"
          >
            <div *ngIf="userid.errors?.['required']">*User Id is Required</div>
            <div *ngIf="userid.errors?.['minlength']">
              *User Id must be at least 4 characters Long
            </div>
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="fname"><b>First Name:</b></label>
          <input
            type="text"
            [(ngModel)]="user.first"
            class="form-control"
            id="fname"
            name="fname"
            placeholder="First Name"
            required
            #fname="ngModel"
          />
          <div
            *ngIf="fname.invalid && (lname.dirty || fname.touched)"
            class="alert"
          >
            <div *ngIf="fname.errors?.['required']">
              *First Name is required
            </div>
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="lname"><b>Last Name: </b></label>
          <input
            type="text"
            [(ngModel)]="user.last"
            class="form-control"
            id="lname"
            name="lname"
            placeholder="Last Name"
            required
            #lname="ngModel"
          />
          <div
            *ngIf="lname.invalid && (lname.dirty || lname.touched)"
            class="alert"
          >
            <div *ngIf="lname.errors?.['required']">*Last Name is required</div>
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="email"><b>Email ID: </b></label>
          <input
            type="text"
            [(ngModel)]="user.email"
            class="form-control"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            id="email"
            name="email"
            placeholder="Email ID"
            required
            #email="ngModel"
          />
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert"
          >
            <div *ngIf="email.errors?.['required']">*Email ID is required</div>
            <div *ngIf="email.errors?.['pattern']">
              *Email must Contain @ And . Characters
            </div>
          </div>
        </div>
        <br />

        <div class="form-group">
          <label for="phone number"><b> Phone Number: </b></label>
          <input
            type="text"
            [(ngModel)]="user.phone"
            class="form-control"
            required
            minlength="10"
            id="phone"
            name="phone"
            placeholder="Phone Number"
            required
            #phone="ngModel"
          />
          <div
            *ngIf="phone.invalid && (phone.dirty || phone.touched)"
            class="alert"
          >
            <div *ngIf="phone.errors?.['required']">
              *Phone Number is required
            </div>
            <div *ngIf="phone.errors?.['minlength']">
              *Phone Number must be at least 10 digits long
            </div>
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="password"><b> Password: </b></label>
          <input
            type="password"
            [(ngModel)]="user.password"
            class="form-control"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
            id="password"
            name="password"
            placeholder="Password"
            required
            #password="ngModel"
          />
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert"
          >
            <div *ngIf="password.errors?.['required']">
              *Password is required
            </div>
            <br />
            <div *ngIf="password.errors?.['pattern']">
              *Password must contain at least one Number,one UPPERCASE, one
              lowercase letter,At least 6 characters
            </div>
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="confirmPassword"><b>Confirm Password </b></label>
          <input
            type="text"
            class="form-control"
            id="confirmPassword"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            placeholder="Confirm Password"
            (change)="confirmpass(confirmPassword)"
            required
            #password="ngModel"
          />

          <div class="alert">
            {{ missmatch }}
          </div>
        </div>

        <br />
        <div class="form-group">
          <label for="address"><b>Address: </b></label>
          <input
            type="text"
            [(ngModel)]="user.address"
            class="form-control"
            id="address"
            name="address"
            placeholder="Address"
            required
            #address="ngModel"
          />
        </div>
        <br />
        <div align="center">
          <button type="submit" [disabled]="!UserRegistration.form.valid">
            <b> Submit</b>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
