.html {
  height: 600px;
  background: url("https://w0.peakpx.com/wallpaper/972/48/HD-wallpaper-stack-of-books-blue-background-education-concepts-books-library-school-learning-concepts.jpg")
    no-repeat center;
  background-size: 100%;
  background-position: top center;
}
