.html {
  background: url("../../assets/images/login.jpg") no-repeat center;
  background-size: 100%;
}
.alert {
  color: rgb(163, 22, 0);
}
/* Organized in alphabetical order */
h1,
h4 {
  text-decoration: underline;
  color: rgb(12, 241, 115);
}
.card-body {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

label {
  display: inline-block;
  margin-right: 5px;
}

input {
  align-content: center;
}
form {
  width: 210px;
  margin: 0 auto;
}
