<div class="body">
  <div class="name">
    <h3>Welcome ! {{ username | titlecase }}.</h3>
  </div>
  <div align="center" class="container">
    <div class="card1">
      <h1 style="color: rgb(211, 0, 0); font-family: cursive">
        MY BOOK STORE
      </h1>
    </div>
    <br />
    <br /><br />

    <div class="card2">
      <input class="anchor2" type="button" value="Show All Books" (click)="showAllBooks()" />
      <br /><br />
      <input class="anchor2" type="button" value="Add New Book " (click)="addNewBook()" />

      <!-----------------------------------Below Code upto coment line Not being used after update------------------------------------------------------->
      <br /><br />
      <input *ngIf="namestatus" class="anchor2" type="button" value="Search Book by Name " (click)="booknamestatus()" />
      <br />

      <div *ngIf="namestatus" id="bk">
        <form #nameform="ngForm" (ngSubmit)="showBookByName()">
          <label for="name"></label>
          <input name="name" required [(ngModel)]="book.name" type="text" id="name " />
          <input class="button" type="Submit" value="Search" />
        </form>
      </div>
      <br />

      <input *ngIf="authorstatus" class="anchor2" type="button" value="Search By Author" (click)="bookauthorstatus()" />

      <br />
      <div *ngIf="authorstatus" id="au">
        <form #form2="ngForm" (ngSubmit)="showBookByAuthor()">
          <label for="author"></label>
          <input name="author" required [(ngModel)]="book.author" type="text" id="author " />
          <input class="button" type="Submit" value="Search" />
        </form>
      </div>

      <br />
      <input *ngIf="catstatus" class="anchor2" type="button" value="Search By Category" (click)="bookcatstatus()" />

      <br />
      <div *ngIf="catstatus" id="cat">
        <form #form3="ngForm" (ngSubmit)="showBookByCategory()">
          <label for="category"></label>
          <input name="category" required [(ngModel)]="book.category" type="text" id="category" />
          <input class="button" type="Submit" value="Search" />
        </form>
      </div>
      <br />
      <!-----------------------------------Above upto coment line Code Not being used after update------------------------------------------------------->

    </div>
  </div>
</div>