<div class="body">
  <div style="color: white" align="right">
    <h4 align="justify" style="color: white">
      <a style="color: green" href="/libraryhome"><button>Home</button> </a>
    </h4>
    <h4 align="right">
      <a style="color: green" href="/userLogin"><button>Logout</button> </a>
    </h4>
  </div>

  <div align="center">
    <h1>Book List</h1>
    <table border="1">
      <thead>
        <tr>
          <th>BookNo</th>
          <th>BookName</th>
          <th>Author</th>
          <th>Category</th>
          <th>Available</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let book of Books">
          <td>{{ book.id }}</td>
          <td>{{ book.name }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.category }}</td>
          <td>{{ this.checkAvailability(book.returnDate) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
