<!-- h2>Did you just pressed Log In :-)</h2 -->
<div class="body">
  <div align="center">
    <h1 style="color: white">LIBRARY MANAGEMENT SYSTEM</h1>
    <br />
    <br />
    <div class="card">
      <h2>LOGIN</h2>
      <br />
      <br />

      <form #signupForm="ngForm" (ngSubmit)="userLogin(signupForm)">
        <label style="font-size: 30px" for="username">User Name: </label>
        <input
          class="anchor1"
          type="text"
          placeholder="User id"
          name="username"
          id="username"
          ngModel
          required
        />
        <br />
        <br />
        <label style="font-size: 30px" for="password">Password: </label>
        <input
          class="anchor2"
          placeholder="Password"
          type="text"
          name="password"
          id="password"
          ngModel
          required
        />
        <br />
        <br />
        <input class="button" type="Submit" id="validate" value="Login" />
        <br />
      </form>

      <a routerLink="/userRegistration"
        ><button class="anchor1">Create New Account</button></a
      >
      <div *ngIf="status" style="color: rgb(196, 243, 26)">
        <h3>Welcome!! {{ name }} You Are Successfully Logged In</h3>
      </div>
      <br /><br /><br />
      <div *ngIf="error" style="color: rgb(177, 1, 1)">
        <b> Ohh! Dear!<br />Your User Id Or Password Seems Incorrect !</b>
      </div>
      <br />
      <div *ngIf="registrationStatus" style="color: rgb(32, 233, 5)">
        <b
          >Welcome! {{ regname }} . Thank you for Registration ! Please Login to
          Proceed !</b
        >
      </div>
    </div>
  </div>
</div>
